* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

ul,
ol,
menu {
	list-style: none;
    display: flex;
}

a {
	text-decoration: none;
	color: currentColor;
}

.row {
	display: flex;
}

.container {
	max-width: 800px;
	margin: 0 auto;
    
}

.main-header {
	background-color: rgb(255, 105, 0);
	padding: 10px 0;
    margin-bottom: 50px;
}

.main-header .row {
	align-items: center;
}

.main-header .menu {
	display: flex;
	color: white;
    }

.logo{
    flex-basis: 85px;
}
.menu_item{
    padding: 0 10px;
}

.icon-header {	
	text-align: center;
	color: white;
    padding: 0 10px;
    
}

.row-content{

    flex-wrap: wrap;
    display: flex;
    
}

.row-content > .col {    
    flex-basis: 220px;
    max-width: 400px; 
    margin-bottom: 20px;
    position: relative; 
      

}



.price{
    color: red;
    bottom: 95px;
}


.icon{
    color: white;
    padding: 0px 5px;
    max-width: max-content;
    font-size: 15px;
    position: absolute;
    z-index: 1;

}

.discount{
    background-color: red;
    bottom: 95px;
   
    
}
.eco{
    background-color: green;
    bottom: 95px;
    right: 90px;
    
}

.ecoleft{
    background-color: green;
    bottom: 95px;
}

.wishlist {
    background-color: white;
    color: black;
    padding: 5px 12px;
    position: absolute;
    z-index: 1;
    top: 3px;
    right: 1px;
    font-size: 20px;
}

a.wishlist:hover{
    color: red;
}




